@model Vehicle__Emporium.Models.Boats

@{
    ViewData["Title"] = "Details for " + @Model.vehicleModel;
}



<div class="">
    <h1 class="my-4">
        @Model.year @Model.vehicleModel  @Model.vehicleMake
        <small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small>
        <small>$@Model.price</small>
    </h1>
    <div class="row no-gutters">
        <div class="col-6">
            <img class="col" src="@("~/Images/" + @Model.ImageUpload + ".jpeg")" asp-append-version="true" width="650" height="400" />
        </div>
        <div class="col">
            <b style="font-size: 1.2em">@Html.DisplayNameFor(model => model.vehicleMake)</b>
            <div style="font-size: 1.2em;">@Html.DisplayFor(model => model.vehicleMake)<br /></div>
            <b style="font-size: 1.2em">@Html.DisplayNameFor(model => model.vehicleModel)</b>
            <div style="font-size: 1.2em;">@Html.DisplayFor(model => model.vehicleModel)<br /></div>
            <b style="font-size: 1.2em">@Html.DisplayNameFor(model => model.year)</b>
            <div style="font-size: 1.2em;">@Html.DisplayFor(model => model.year)<br /></div>
            <b style="font-size: 1.2em">@Html.DisplayNameFor(model => model.miles)</b>
            <div style="font-size: 1.2em;">@Html.DisplayFor(model => model.miles)<br /></div>
            <b style="font-size: 1.2em">@Html.DisplayNameFor(model => model.mpg)</b>
            <div style="font-size: 1.2em;">@Html.DisplayFor(model => model.mpg)<br /></div>
            <b style="font-size: 1.2em">@Html.DisplayNameFor(model => model.condition)</b>
            <div style="font-size: 1.2em;">@Html.DisplayFor(model => model.condition)<br /></div>
            <b style="font-size: 1.2em">@Html.DisplayNameFor(model => model.price)</b>
            <div style="font-size: 1.2em;">$@Html.DisplayFor(model => model.price)<br /></div>
        </div>
        <div class="col" style="font-size: 1.2em">

            <b>@Html.DisplayNameFor(model => model.boatType)</b>
            <div>@Html.DisplayFor(model => model.boatType)<br /></div>
            <b>@Html.DisplayNameFor(model => model.boatClass)</b>
            <div>@Html.DisplayFor(model => model.boatClass)<br /></div>
            <b>@Html.DisplayNameFor(model => model.boatLength)</b>
            <div>@Html.DisplayFor(model => model.boatLength)<br /></div>
            <b>@Html.DisplayNameFor(model => model.boatFuel)</b>
            <div>@Html.DisplayFor(model => model.boatFuel)<br /></div>
            <b>@Html.DisplayNameFor(model => model.boatFuelTanks)</b>
            <div>@Html.DisplayFor(model => model.boatFuelTanks)<br /></div>
            <b>@Html.DisplayNameFor(model => model.boatMaterial)</b>
            <div>@Html.DisplayFor(model => model.boatMaterial)<br /></div>
            <b>@Html.DisplayNameFor(model => model.boatShape)</b>
            <div>@Html.DisplayFor(model => model.boatShape)<br /></div>
            <b>@Html.DisplayNameFor(model => model.boatCapcity)</b>
            <div>@Html.DisplayFor(model => model.boatCapcity)<br /></div>




        </div>
        <div style="font-size: 1.2em;">
            <b>@Html.DisplayNameFor(model => model.description)</b>
            @Html.DisplayFor(model => model.description)<br />
            <b>@Html.DisplayNameFor(model => model.userID)</b>
            @Html.DisplayFor(model => model.userID)<br />
        </div>
        <div>
            <br /><br /><br />
            <a asp-action="Edit" asp-route-id="@Model?.vehicleID">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>


    </div>

</div>






