@model Vehicle__Emporium.Models.Boats

@{
    ViewData["Title"] = "Details for " + @Model.vehicleModel;
}
<link rel="stylesheet" type="text/css" href="~/css/DetailsPage.css" />
<div class="container">
    <h1 class="my-4">
        @Model.year @Model.vehicleModel  @Model.vehicleMake
        <small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small>
        <small>$@Model.price</small>
    </h1>

    

        <div class="container">
            <div class="row">
            <div class="col-6">
                <img style="padding-bottom: 20px;" src="@("~/Images/" + @Model.ImageUpload + ".jpeg")" asp-append-version="true" width="600" height="400" />
            </div>
            <div class="col-6">
                <div class="project-info-box">
                    <p><b>@Html.DisplayNameFor(model => model.userID)</b> @Html.DisplayFor(model => model.userID)</p>
                    
                </div>
            </div>
            </div>
            <div class="project-info-box mt-0">
                <h5><b>@Html.DisplayNameFor(model => model.description)</b></h5>
                <p class="mb-0">@Html.DisplayFor(model => model.description)</p>
            </div>
            <div class="row">
                <div class="col-md-5">


                    <div class="project-info-box">
                        <p><b>@Html.DisplayNameFor(model => model.vehicleMake)</b> @Html.DisplayFor(model => model.vehicleMake)</p>
                        <p><b>@Html.DisplayNameFor(model => model.vehicleModel)</b> @Html.DisplayFor(model => model.vehicleModel)</p>
                        <p><b>@Html.DisplayNameFor(model => model.year)</b> @Html.DisplayFor(model => model.year)</p>
                        <p><b>@Html.DisplayNameFor(model => model.miles)</b> @Html.DisplayFor(model => model.miles)</p>
                        <p><b>@Html.DisplayNameFor(model => model.mpg)</b> @Html.DisplayFor(model => model.mpg)</p>
                        <p><b>@Html.DisplayNameFor(model => model.condition)</b> @Html.DisplayFor(model => model.condition)</p>
                        <p><b>@Html.DisplayNameFor(model => model.price)</b>@Html.DisplayFor(model => model.price)</p>

                    </div>
                    <a asp-action="Index">Back to List</a>
                </div>
                <div class="col">
                    <div class="project-info-box">
                        <p><b>@Html.DisplayNameFor(model => model.boatType)</b> @Html.DisplayFor(model => model.boatType)</p>
                        <p><b>@Html.DisplayNameFor(model => model.boatClass)</b> @Html.DisplayFor(model => model.boatClass)</p>
                        <p><b>@Html.DisplayNameFor(model => model.boatLength)</b> @Html.DisplayFor(model => model.boatLength)</p>
                        <p><b>@Html.DisplayNameFor(model => model.boatFuel)</b> @Html.DisplayFor(model => model.boatFuel)</p>
                        <p><b>@Html.DisplayNameFor(model => model.boatFuelTanks)</b> @Html.DisplayFor(model => model.boatFuelTanks)</p>
                        <p><b>@Html.DisplayNameFor(model => model.boatMaterial)</b> @Html.DisplayFor(model => model.boatMaterial)</p>
                        <p><b>@Html.DisplayNameFor(model => model.boatShape)</b>@Html.DisplayFor(model => model.boatShape)</p>
                        <p><b>@Html.DisplayNameFor(model => model.boatCapcity)</b>@Html.DisplayFor(model => model.boatCapcity)</p>

                    </div>                   
                </div>
            </div>
        </div>
        </div>
    
