@model Vehicle__Emporium.Models.Boats

@{
    ViewData["Title"] = "Details for " + @Model.vehicleModel;
}

<h1>Details for @Model.vehicleModel  @Model.vehicleMake</h1>

<div>
    <h4>@Model.vehicleModel  @Model.vehicleMake</h4>
    @Html.DisplayFor(model => model.ImageUpload)
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.boatType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.boatType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.boatClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.boatClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.boatLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.boatLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.boatFuel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.boatFuel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.boatFuelTanks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.boatFuelTanks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.boatMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.boatMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.boatShape)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.boatShape)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.boatCapcity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.boatCapcity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vehicleMake)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vehicleMake)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vehicleModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vehicleModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.miles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.miles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mpg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mpg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.condition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.vehicleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
