@model IEnumerable<Vehicle__Emporium.Models.Boats>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUpload)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.vehicleMake)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.vehicleModel)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               @Html.DisplayFor(modelItem => item.ImageUpload)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.vehicleMake)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.vehicleModel)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.year)
            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.vehicleID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.vehicleID">Details</a> |
                        <a asp-action="Engine" asp-route-id="@item.vehicleID">Add Engine</a> |
                        <a asp-action="Delete" asp-route-id="@item.vehicleID">Delete</a>
                            </td>
        </tr>
}
    </tbody>
</table>
