@model IEnumerable<Vehicle__Emporium.Models.TravelTrailer>

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {


        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-70">
                <a asp-action="Details" asp-route-id="@item.vehicleID">
                    <img class="col" src="@("~/Images/" + item.ImageUpload +".jpeg")" asp-append-version="true" width="415" height="400" />
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        @Html.DisplayFor(modelItem => item.year)
                        @Html.DisplayFor(modelItem => item.vehicleMake)
                        @Html.DisplayFor(modelItem => item.vehicleModel)
                    </h4>
                    <p class="card-text">
                        Price: @Html.DisplayFor(modelItem => item.price)<br>
                    </p>
                </div>
            </div>
        </div>

    }
</div>

