@model Vehicle__Emporium.Models.Motorcycles

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Motorcycles</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bikeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bikeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bikeEngineType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bikeEngineType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rideHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rideHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.chainType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.chainType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.chainLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.chainLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sideCar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sideCar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vehicleMake)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vehicleMake)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vehicleModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vehicleModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.miles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.miles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mpg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mpg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.condition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUpload)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUpload)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.vehicleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
