@model IEnumerable<Vehicle__Emporium.Models.Motorcycles>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.bikeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bikeEngineType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rideHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.chainType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.chainLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sideCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehicleMake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehicleModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.miles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mpg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUpload)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bikeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bikeEngineType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rideHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chainType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chainLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sideCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vehicleMake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vehicleModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.miles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mpg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.condition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
                <td>
                    <img src="@("~/Images/" + item.ImageUpload)" asp-append-version="true" width="150" height="150" />
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.vehicleID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.vehicleID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.vehicleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
