@model IEnumerable<Vehicle__Emporium.ViewModels.HomeDisplay>
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager;
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Profile</h1>
@if (SignInManager.IsSignedIn(User))
{
    <h2>Hello @User.Identity?.Name</h2>
}

<p>
    <a asp-action="CreateCar"
       type="button" class="btn btn-primary">Create Car Listing</a>
    &nbsp &nbsp &nbsp
    <a asp-action="CreateBoat"
       type="button" class="btn btn-primary">Create Boat Listing</a>
    &nbsp &nbsp &nbsp
    <a asp-action="CreateBike"
       type="button" class="btn btn-primary">Create MotorCycle Listing</a>
    &nbsp &nbsp &nbsp
    <a asp-action="CreateMH"
       type="button" class="btn btn-primary">Create MotorHome Listing</a>
    &nbsp &nbsp &nbsp
    <a asp-action="CreateTT"
       type="button" class="btn btn-primary">Create Travel Trailer Listing</a>
    &nbsp &nbsp &nbsp
</p>
</p>
@if (User.IsInRole("ADMIN"))
{
    <h1 class="display-4">Boats</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            if (item.Type == "Boat")
            {
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-70">
                        <a asp-action="BoatDetails" asp-route-id="@item.VehicleId">
                            <img class="col" src="@("~/Images/" + item.ImageUpload + ".jpeg")" asp-append-version="true" width="415" height="400" />
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                @Html.DisplayFor(modelItem => item.year)
                                @Html.DisplayFor(modelItem => item.VehicleName)
                            </h4>
                            <p class="card-text">
                                Price: @Html.DisplayFor(modelItem => item.price)<br>
                            </p>
                        </div>
                        <a asp-action="BoatEdit" asp-route-id="@item.VehicleId">Edit</a>
                        <a asp-action="BoatDetails" asp-route-id="@item.VehicleId">Details</a>
                        <a asp-action="BoatEngine" asp-route-id="@item.VehicleId">Add Engine</a>
                        <a asp-action="BoatDelete" asp-route-id="@item.VehicleId">Delete</a>
                    </div>
                </div>
            }

        }
    </div>
    <h1 class="display-4">Cars</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            if (item.Type == "Cars")
            {
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-70">
                        <a asp-action="CarDetails" asp-route-id="@item.VehicleId">
                            <img class="col" src="@("~/Images/" + item.ImageUpload + ".jpeg")" asp-append-version="true" width="415" height="400" />
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                @Html.DisplayFor(modelItem => item.year)
                                @Html.DisplayFor(modelItem => item.VehicleName)
                            </h4>
                            <p class="card-text">
                                Price: @Html.DisplayFor(modelItem => item.price)<br>
                            </p>
                        </div>
                    </div>
                </div>
                <a asp-action="Edit" asp-route-id="@item.VehicleId">Edit</a>

                <br>
                <a asp-action="Details" asp-route-id="@item.VehicleId">Details</a>

                <br>
                <a asp-action="BoatEngine" asp-route-id="@item.VehicleId">Add Engine</a>

                <br>
                <a asp-action="Delete" asp-route-id="@item.VehicleId">Delete</a>
            }

        }
    </div>
    <h1 class="display-4">Motorcycles</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            if (item.Type == "Bikes")
            {
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-70">
                        <a asp-action="BikeDetails" asp-route-id="@item.VehicleId">
                            <img class="col" src="@("~/Images/" + item.ImageUpload + ".jpeg")" asp-append-version="true" width="415" height="400" />
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                @Html.DisplayFor(modelItem => item.year)
                                @Html.DisplayFor(modelItem => item.VehicleName)
                            </h4>
                            <p class="card-text">
                                Price: @Html.DisplayFor(modelItem => item.price)<br>
                            </p>
                        </div>
                    </div>
                </div>
            }

        }
    </div>
    <h1 class="display-4">MotorHomes</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            if (item.Type == "MotorHomes")
            {
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-70">
                        <a asp-action="MHDetails" asp-route-id="@item.VehicleId">
                            <img class="col" src="@("~/Images/" + item.ImageUpload + ".jpeg")" asp-append-version="true" width="415" height="400" />
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                @Html.DisplayFor(modelItem => item.year)
                                @Html.DisplayFor(modelItem => item.VehicleName)
                            </h4>
                            <p class="card-text">
                                Price: @Html.DisplayFor(modelItem => item.price)<br>
                            </p>
                        </div>
                    </div>
                </div>
            }

        }
    </div>
    <h1 class="display-4">Travel Trailers</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            if (item.Type == "TravelTrailers")
            {
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-70">
                        <a asp-action="TTDetails" asp-route-id="@item.VehicleId">
                            <img class="col" src="@("~/Images/" + item.ImageUpload + ".jpeg")" asp-append-version="true" width="415" height="400" />
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                @Html.DisplayFor(modelItem => item.year)
                                @Html.DisplayFor(modelItem => item.VehicleName)
                            </h4>
                            <p class="card-text">
                                Price: @Html.DisplayFor(modelItem => item.price)<br>
                            </p>
                        </div>
                    </div>
                </div>
            }

        }
    </div>
}
else
{
<h1 class="display-4">Boats</h1>
<div class="row">
    @foreach (var item in Model)
    {
        if (item.Type == "Boat" && item.Id == @User.Identity.Name)
        {
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-70">
                    <a asp-action="BoatDetails" asp-route-id="@item.VehicleId">
                        <img class="col" src="@("~/Images/" + item.ImageUpload + ".jpeg")" asp-append-version="true" width="415" height="400" />
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            @Html.DisplayFor(modelItem => item.year)
                            @Html.DisplayFor(modelItem => item.VehicleName)
                        </h4>
                        <p class="card-text">
                            Price: @Html.DisplayFor(modelItem => item.price)<br>
                        </p>
                    </div>
                    <a asp-action="BoatEdit" asp-route-id="@item.VehicleId">Edit</a>
                    <a asp-action="BoatDetails" asp-route-id="@item.VehicleId">Details</a>
                    <a asp-action="BoatEngine" asp-route-id="@item.VehicleId">Add Engine</a>
                    <a asp-action="BoatDelete" asp-route-id="@item.VehicleId">Delete</a>
                </div>
            </div>
        }

    }
</div>
<h1 class="display-4">Cars</h1>
<div class="row">
    @foreach (var item in Model)
    {
        if (item.Type == "Cars" && item.Id == @User.Identity.Name)
        {
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-70">
                    <a asp-action="CarDetails" asp-route-id="@item.VehicleId">
                        <img class="col" src="@("~/Images/" + item.ImageUpload + ".jpeg")" asp-append-version="true" width="415" height="400" />
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            @Html.DisplayFor(modelItem => item.year)
                            @Html.DisplayFor(modelItem => item.VehicleName)
                        </h4>
                        <p class="card-text">
                            Price: @Html.DisplayFor(modelItem => item.price)<br>
                        </p>
                    </div>
                </div>
            </div>
            <a asp-action="Edit" asp-route-id="@item.VehicleId">Edit</a>

            <br>
            <a asp-action="Details" asp-route-id="@item.VehicleId">Details</a>

            <br>
            <a asp-action="BoatEngine" asp-route-id="@item.VehicleId">Add Engine</a>

            <br>
            <a asp-action="Delete" asp-route-id="@item.VehicleId">Delete</a>
        }

    }
</div>
<h1 class="display-4">Motorcycles</h1>
<div class="row">
    @foreach (var item in Model)
    {
            if (item.Type == "Bikes" && item.Id == @User.Identity.Name)
        {
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-70">
                    <a asp-action="BikeDetails" asp-route-id="@item.VehicleId">
                        <img class="col" src="@("~/Images/" + item.ImageUpload + ".jpeg")" asp-append-version="true" width="415" height="400" />
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            @Html.DisplayFor(modelItem => item.year)
                            @Html.DisplayFor(modelItem => item.VehicleName)
                        </h4>
                        <p class="card-text">
                            Price: @Html.DisplayFor(modelItem => item.price)<br>
                        </p>
                    </div>
                </div>
            </div>
        }

    }
</div>
<h1 class="display-4">MotorHomes</h1>
<div class="row">
    @foreach (var item in Model)
    {
        if (item.Type == "MotorHomes" && item.Id == @User.Identity.Name)
        {
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-70">
                    <a asp-action="MHDetails" asp-route-id="@item.VehicleId">
                        <img class="col" src="@("~/Images/" + item.ImageUpload + ".jpeg")" asp-append-version="true" width="415" height="400" />
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            @Html.DisplayFor(modelItem => item.year)
                            @Html.DisplayFor(modelItem => item.VehicleName)
                        </h4>
                        <p class="card-text">
                            Price: @Html.DisplayFor(modelItem => item.price)<br>
                        </p>
                    </div>
                </div>
            </div>
        }

    }
</div>
<h1 class="display-4">Travel Trailers</h1>
<div class="row">
    @foreach (var item in Model)
    {
        if (item.Type == "TravelTrailers" && item.Id == @User.Identity.Name)
        {
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-70">
                    <a asp-action="TTDetails" asp-route-id="@item.VehicleId">
                        <img class="col" src="@("~/Images/" + item.ImageUpload + ".jpeg")" asp-append-version="true" width="415" height="400" />
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            @Html.DisplayFor(modelItem => item.year)
                            @Html.DisplayFor(modelItem => item.VehicleName)
                        </h4>
                        <p class="card-text">
                            Price: @Html.DisplayFor(modelItem => item.price)<br>
                        </p>
                    </div>
                </div>
            </div>
        }

    }
</div>
}

