@model IEnumerable<Vehicle__Emporium.Models.Vehicles>;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager;
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Profile</h1>
@if (SignInManager.IsSignedIn(User))
{
    <h2>Hello @User.Identity?.Name</h2>
}

<p>
    <a asp-action="CreateCar"
    type="button" class="btn btn-primary">Create Car Listing</a>
    &nbsp &nbsp &nbsp
    <a asp-action="CreateBoat"
       type="button" class="btn btn-primary">Create Boat Listing</a>
    &nbsp &nbsp &nbsp
    <a asp-action="CreateBike"
       type="button" class="btn btn-primary">Create MotorCycle Listing</a>
    &nbsp &nbsp &nbsp
    <a asp-action="CreateMH"
       type="button" class="btn btn-primary">Create MotorHome Listing</a>
    &nbsp &nbsp &nbsp
    <a asp-action="CreateTT"
       type="button" class="btn btn-primary">Create Travel Trailer Listing</a>
    &nbsp &nbsp &nbsp
</p>
</p>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-70">
                <a asp-action="Details" asp-route-id="@item.vehicleID">
                    <img class="col" src="@("~/Images/" + item.ImageUpload +".jpeg")" asp-append-version="true" width="415" height="400" />
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        @Html.DisplayFor(modelItem => item.year)
                        @Html.DisplayFor(modelItem => item.vehicleMake)
                        @Html.DisplayFor(modelItem => item.vehicleModel)
                    </h4>
                    <p class="card-text">
                        Price: @Html.DisplayFor(modelItem => item.price)<br>
                        <a asp-action="Edit" asp-route-id="@item.vehicleID">Edit</a><br>
                        <a asp-action="Details" asp-route-id="@item.vehicleID">Details</a><br>
                        <a asp-action="BoatEngine" asp-route-id="@item.vehicleID">Add Engine</a><br>
                        <a asp-action="Delete" asp-route-id="@item.vehicleID">Delete</a>
                    </p>
                </div>
            </div>
        </div>

    }
</div>

