@model List<Vehicle__Emporium.ViewModels.EngineView>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Engine</h4>
    <hr />
    @if (Model != null)
    {
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model[0].vehicleMake)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model[0].vehicleMake)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model[0].vehicleModel)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model[0].vehicleModel)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model[0].engineMake)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model[0].engineMake)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model[0].engineModel)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model[0].engineModel)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model[0].enginePower)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model[0].enginePower)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model[0].engineType)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model[0].engineType)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model[0].engineHour)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model[0].engineHour)
            </dd>
        </dl>
    }
</div>
<div>

</div>
